OPENAI_API_KEY=
BGV_API_BASE_URL=http://127.0.0.1:8000
OFFER_ACCEPTANCE_FORM_URL=https://forms.office.com/r/your-offer-acceptance-form
BGV_FORM_URL=https://forms.office.com/r/your-bgv-document-form
GMAIL_DEMO_MODE=true
GMAIL_SENDER=ashutosh-yadav@techashu.tech
MS_TENANT_ID=a08bec94-3764-4f0b-ae13-ca92b5c0146f
MS_CLIENT_ID=02fd1a00-c739-4cec-b0ea-4d6effa3d681
MS_CLIENT_SECRET=cdcc08c3-6c19-4886-8676-93c3a20399ec
MS_SENDER_EMAIL=ashutosh@techashu.tech
